root:{
    --color-linkactive: #333;
    --color-linkhover: #444;
}


.link {
    padding: var(--spacing-small) var(--spacing-medium);;
    background-color: #000;
    color: var(--main-color-white);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.link.active {
    background-color: var(--color-linkactive):
}

.link:hover {
    background-color: var(--color-linkhover):
}
