.button {
    margin-left: 30px;
    padding: var(--spacing-small) var(--spacing-medium);
    background-color: var(--color-button-background);
    color:  var(--main-color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.button:hover {
    background-color: var(--color-button-hover);
    border-radius: var(--spacing-medium);
    transform: scale(1.1);
}

.button:first-child {
    margin-left: 0;
}

.button:disabled {
    background-color: var(--color-button-background);
    color: var(--color-button-disabled);
    cursor: not-allowed;
}

.refresh-button {
    position: absolute;
    top: 350px;
    right: 250px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 50px 120px;
    cursor: pointer;

}

@media (max-width: 900px) {
    .refresh-button {
        top: 650px;
        right: 100px;
    }

}

@media (max-width: 570px) {
    .refresh-button {
        top: 670px;
        right: 80px;
    }
}
