.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 5px 0 10px 10px;
}

.footer-left .contact-text {
    font-style: italic;
}

.footer-right {
    text-align: right;
}

.footer-right p {
    margin: 10px;
}