.sectionfavheader {
    background-image: url('../../assets/CocktailFavback.jpg');
    background-size: cover;
    background-position: center;
    color: var(--main-color-white);
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.favourites h1 {
    font-size: var(--font-size-big);
    margin-bottom:  var(--font-size-medium);
}

.large-text-Fav {
    font-size: var(--font-size-huge);
    margin-left: 450px;
}

.cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:  var(--font-size-medium);
}

@media(max-width: 900px) {
    .large-text-Fav {
        font-size: var(--font-size-big);
        margin-left: 250px;
    }
}

