.sectionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    color: var(--main-color-white);
    padding: var(--spacing-medium);

}

.logo-container {
    margin-right: 140px;
    padding: 0 0 0 15px;
    cursor: pointer;
}


.logo {
    width: 120px;
    height: 100px;
}

.buttons-container {
    display: flex;
}


.disabled {
    pointer-events: none;
    opacity: 0.6;
    cursor: default;
}

@media (max-width: 900px) {
    .sectionHeader {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        margin-right: 0;
    }

    .logo {
        width: 130px;
    }

    .buttons-container {
        flex-direction: column;
        align-items: center;
    }

    .button {
        padding: 7px 10px;
        font-size: var(--font-size-small);
    }
}

