:root{
    --color-contact-header: #b1a748;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px 20px;
}

.head-contactformulier {
    color: var(--color-contact-header);
    font-size: var(--font-size-big);
}