:root {
    --color-label-input: #007bff;
    --color-continuebutton: #333;
}

.section-recommended-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('../../assets/rec6.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    padding: 20px;
}

.large-header {
    font-size: var(--font-size-big);
    text-align: right;
    margin: 30px 100px 20px 20px;
    color: var(--main-color-white);
}

.question-text {
    font-size: var(--font-size-medium);
    margin-bottom: 20px;
    color: var(--main-color-white);
}


.option-label input {
    margin-right: 10px;
    accent-color: var(--color-label-input);
    width: 20px;
    height: 20px;
}

.completion-text {
    font-size: 24px;
    color: var(--main-color-white);
    text-align: center;
    margin-top: var(--spacing-medium);
}

.question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: var(--spacing-medium);
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options-container {
    display: flex;
    justify-content: center;
    gap: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);

}

.option-label {
    display: flex;
    align-items: center;
    font-size: var(--font-size-big);
    color: var(--main-color-white);
    padding: 10px 100px;
}

.continue-button {
    padding:  var(--font-size-small)  var(--font-size-medium);
    background-color: var(--color-continuebutton);
    color:  var(--main-color-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--font-size-small);
    transition: background-color 0.3s ease;
    display: block;
    margin: var(--spacing-medium);
}


.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: var(--spacing-large);
}

.cocktail-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--spacing-medium);
}

.cocktail-preview {
    margin: var(--spacing-small);
}

.results-message-container {
    text-align: center;
    margin: 200px 20px;
}


