.small-text {
    font-size: var(--font-size-big);
    margin-bottom: 40px;
}

.midden-tekst-container {
    max-width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.sectionHome {
    background-image: url('../../assets/cocktailbackgroundhome.png');
    background-size: cover;
    background-position: center;
    color: var(--main-color-white);
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}