
.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

.sectionfavheader {
    background-image: url('../assets/CocktailFavback.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.favourites h1 {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
}


.cocktail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}


.cocktail-preview {
    position: relative;
    width: 240px;
    height: 240px;
    cursor: pointer;
}


.cocktail-preview img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}


.cocktail-preview h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.large-text-Fav {
    font-size: 50px;
    margin-left: 750px;
}
