:root{
    --color-link:  blue;
}
.page-not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.home-link {
    color: var(--color-link);
    text-decoration: underline;
    display: inline-block;
    margin-top:  var(--font-size-small);
    font-size: var(--font-size-medium);
}

.home-link:hover {
    color: var(--color-button-hover);
}
