.page-not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.home-link {
    font-size: 2rem;
    color: blue;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
    font-size: 25px;
}

.home-link:hover {
    color: darkblue;
}
