.cocktail-preview {
    position: relative;
    width: 240px;
    height: 240px;
    cursor: pointer;
    transition: transform 0.3s;
}

.cocktail-preview:hover {
    transform: scale(1.05);
}

.cocktail-preview img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.cocktail-preview h2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.5);
    color: var(--main-color-white);
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}




