:root{
    --color-background-favbutton: hotpink;
    --color-detailbutton-hover: deeppink;
    --color-detailbutton-unfavourite: mediumpurple;
}

.cocktail-detail {
    padding:  var(--font-size-medium);
}

.text-detail {
    padding: 50px 0 10px 265px;
    font-size: var(--font-size-big);
}

.cocktail-detail-content {
    display: flex;
    align-items: flex-start;
    gap:  var(--font-size-medium);
}

.cocktail-image {
    margin: 0 0 20px 70px;
    max-width: 500px;
}

.ingredients {
    flex: 1;
    margin-left: 50px;
}

.text-ingredients {
    margin: 0 0 20px 70px;
    font-size: var(--font-size-big);
}

.ingredients li {
    display: flex;
    align-items: center;
    margin-bottom:  var(--font-size-medium);
    font-size: var(--font-size-medium);
}

.ingredient-image {
    margin-right: 15px;
    width: 80px;
    height: 80px;
}

.detail-button {
    margin-left: 250px;
    padding: 15px 25px;
    font-size: var(--font-size-mediumsmall);
    background-color: var(--color-background-favbutton);
    color: var(--color-button-background);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.detail-button:hover {
    background-color: var(--color-detailbutton-hover);
    border-radius: 25px;
    transform: scale(1.1);
}

.detail-button.blue-button {
    background-color: var(--color-detailbutton-unfavourite);
    color: var(--main-color-white);
    margin-left: 170px;
}

.success-message {
    color: var(--color-succes);
    margin: 50px 10px 10px 120px;
    font-size: var(--font-size-medium);
}
